

<div class='container-fluid show_page_body'>
	<div class='col-lg-2 left-border'>
	</div> <!-- end of colo-lg-2 -->
	<div class="col-lg-9">
		<div class='media'>
			<a class='pull-left' href="<%= @shop.url %>">
			<%= image_tag @shop.logo, class: 'media-object', size:"128x128" %>
			</a>
			<div class='media-body'>
				<h4 class='media-heading'><%= @shop.name %></h4>
				<%= @shop.description %>
			</div> <!-- end of media-body -->
		</div> <!-- end of media -->

			
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <%= render @items %>
		      
		    </div>
		  </div>
		</div>

		
	</div> <!-- end of col-lg-9 -->
</div> <!-- end of show_page_body -->