<div class="container">
  <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add an item to your store <small>It's free!</small></h3>
        </div>
          <div class="panel-body">

              <%= form_for @item , html: { role: 'form', multipart: true } do |f| %>
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.text_field :shop_id, class: "form-control input-sm", :placeholder => 'shop_id' %>
                  </div>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.text_field :name, class: "form-control input-sm", :placeholder => 'Item Name' %>
                  </div>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.select :size, (4..32).step(0.5).to_a %>
                  </div>
                </div>                
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.text_area :description, class: "form-control input-sm", :placeholder => 'Description of your item' %>
                  </div>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.number_field :price, class: "form-control input-sm", :placeholder => 'How much?' %>
                  </div>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <div class="form-group">
                      <%= f.fields_for :photos do |photo| %>
                        <%= photo.label :avatar %>
                        <%= photo.file_field :avatar, multiple: true, name: "photos[avatar][]",  onchange: "readURL(this);" %>
                      <% end %>
                  </div>
                </div>                       
                <%= f.submit 'Create shop', class: 'btn btn-primary shop-signup-submit' %>
              <% end %>
                
          </div>

            </div>
            <div id="images"></div>
          </div>
      </div>
</div>

<script type="text/javascript">
  function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                  var src = e.target.result
                  $('#images').append("<img id='1' src='" + src + "' alt ='your image'?/> ")
                    
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>