<h1><%= @item.name %></h1>
<div class="row">
  <div class="col-xs-6 col-md-3">
		
		  <%= render @photos %>
		
	</div>
</div>
<div class="clear"></div>


<%= form_for Photo.new do |f| %>
  <%= f.label :avatar, "Upload photos:" %>
  <%= f.hidden_field :item_id, value: @item.id %>
  <%= f.file_field :avatar, multiple: true, name: "photo[avatar]" %>
<% end %>





<%= link_to 'View Item', item_path(@item) %>


